<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="lastname">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br><br>
    <label for="age">Введите возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/><br>
    <input type="submit" value="ОК"/>
</form>
</body>
</html>