<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br><br>
    <label for="lastname">Введите фамилию</label>
    <input type="text" th:field="*{lastName}" id = "lastname"/>
    <br><br>
    <label for="age">Введите возраст</label>
    <input type="text" th:field="*{age}" id = "age"/>
    <br/><br>
    <input type="submit" value="OK" onclick="window.location.href='/users'"/>
</form>
</body>
</html>